.task {
  background: #CCFFCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;

  .task-content {
    display: flex;
    flex-direction: column;

    .task-title {
      font-size: 20px;
      font-weight: bold;
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline;
      position: relative;
    }

    .task-estimate {
      font-size: 13px;
    }
  }

  .action {
    span {
      margin-left: 5px;
    }
  }
}